[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest = "*"
awscli = "*"
aws-sam-cli = "*"
mypy = "*"

[packages]
boto3 = "*"
configobj = "*"
certbot = "*"
certbot-dns-route53 = "*"

[requires]
python_version = "3.6"
