name: reviewdog
on: [pull_request]

jobs:
  actions-cfn-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: shogo82148/actions-cfn-lint@v4
        with:
          reporter: github-pr-review
          level: warning
          cfn_lint_args: "**/*.yaml"
