name: test
on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: integration-test
  cancel-in-progress: false

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-python@v4
        with:
          python-version: "3.14"
      - name: install dependencies
        run: |
          pip install --upgrade pip
          pip install pipenv
          pipenv update --dev

      - name: Configure AWS Credentials
        uses: fuller-inc/actions-aws-assume-role@v1
        with:
          aws-region: ap-northeast-1
          role-to-assume: arn:aws:iam::445285296882:role/acme-cert-updater-test-TestRole-SPRNY1U43M59
          role-session-tagging: true

      - name: Login to ECR Public
        run: |
          aws ecr-public get-login-password --region us-east-1 | docker login --username AWS --password-stdin public.ecr.aws

      - name: test
        run: |
          pipenv run make test
          pipenv run make validate
          pipenv run make build

      - name: Logout from ECR Public
        run: |
          docker login public.ecr.aws
